.SpotCheckTaskDetail {
  .ant-col .ant-form-item-label {
    width: 120px;
  }
  .ant-form-item {
    margin-bottom: 0px;
  }

  .ant-table-wrapper {
    margin-bottom: 170px;
  }

  .header {
    >div {
      display: inline-block;
      height: 54px;
      background-color: #fff;
      line-height: 54px;
      vertical-align: top;
    }

    .headerCon {
      .title {
        font-size: 20px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
      }

      .orderStatus {
        float: right;
        margin-right: 20px;
      }

      .titleCon {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333;
        padding-left: 10px;
      }

      .titleConNub {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #595959;
      }
    }

    .back {
      width: 65px;
      margin-right: 5px;
      cursor: pointer;
      text-align: center;
      color: #BFBFBF;

      &:hover {
        color: #05A9F4
      }
    }

    .back:hover {
      color: #05A9F4
    }

    >div:last-child {
      width: calc(100% - 70px);
      font-size: 20px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      text-indent: 30px;
    }
  }

  .warp {
    padding-left: 5px;

    .formDiv {
      // height: 60px;
      // line-height: 60px;
      // background-color: #fff;
      margin-top: 1px;

      .ant-form-item {
        padding-top: 10px;
        margin-bottom: 0px;
        height: 60px;
      }

      .ant-form-explain {
        margin-top: -6px;
      }
      .formDivTop {
        height: 60px;
        line-height: 60px;
        background-color: #fff;
        margin-bottom: 5px;
      }
    }

    .result {
      height: 54px;
      line-height: 54px;
      background: rgba(45, 133, 243, 1);
      box-shadow: 0px 12px 16px 0px rgba(167, 167, 167, 0.5);
      border-radius: 4px 4px 0px 0px;
      margin-bottom: 3px;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      padding-left: 25px;
    }

    .bottomDetail {
      // height: 54px;
      line-height: 54px;
      text-align: left;
      padding-left: 25px;
      background-color: #fff;
      position: fixed;
      bottom: 0;
      width: calc(100% - 160px);
      box-shadow: 0px -4px 9px 1px rgba(0, 0, 0, 0.05);
      z-index: 2;
      margin-bottom: 54px;

      .bottomDetail-b {
        line-height: 25px;
        margin-bottom: 20px;
      }

      .bottomDetail-title {
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: rgba(51, 51, 51, 1);
        width: 100px;
        display: inline-block;
        text-align: right;
      }

      .bottomDetail-con {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(89, 89, 89, 1);
      }
    }

  }

  .addRowBtn {
    height: 54px;
    line-height: 54px;

    >button,
    >span {
      min-width: 75px;
      font-size: 14px;
      margin-left: 25px;
    }

    >label {
      float: right;
      margin-right: 30px;
      font-size: 14px;
    }
  }

  .addApply {
    height: 54px;
    line-height: 54px;
    text-align: right;
    padding-right: 25px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: calc(100% - 160px);
    box-shadow: 0px -4px 9px 1px rgba(0, 0, 0, 0.05);
    z-index: 2;

    button {
      margin-left: 20px;
      min-width: 74px;
    }
  }

}

.checkDeviceModal {
  .ant-modal-header {
    padding: 20px 30px;
    margin: 0;
    height: 60px;
  }

  .SearchComp {
    padding: 30px 30px 20px 30px;
    padding-right: 0;

    .ant-input {
      height: 32px;
    }

    .ant-input-suffix {
      top: 56%;
    }
  }

  .ant-modal-body {
    padding: 0;
    // .ant-table-wrapper{
    //   padding-bottom: 60px;
    // }
  }

  .ant-table-thead>tr>th:first-child {
    padding-left: 36px;
  }

  .ant-table-tbody>tr>td:first-child {
    padding-left: 36px;
  }

  ._pagination {
    // position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-radius: 4px;
    font-size:12px;
  }
  .ant-pagination-item-active{
    background-color: #05A9F4;
    a {
      color: #fff;
    }
}
  .ant-pagination-item-active:focus, .ant-pagination-item-active:hover{
     a {
      color: #fff;
    }
  }
  .ant-pagination-total-text {
    position: absolute;
    left: 30px;
  }
  
  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-options .ant-select-selection {
    border-radius: 4px;
  }
}