.basic {
  .ant-badge-status-text {
    font-size: 12px;
  }

  .ant-tabs-nav-scroll {
    height: calc(100vh);
  }

  .basic-tab {
    padding: 10px;
    background: #fff;
  }

  .ant-tabs .ant-tabs-left-content {
    padding-left: 5px;
  }

  .ant-tabs .ant-tabs-left-bar .ant-tabs-nav-wrap {
    background: #FFF;
  }
}

.addEquipmentSpare {}

.edit-modal {
  .ant-modal-body {
    padding: 24px 0px 24px 0px;
    .ant-form-item{
      height: 54px;
      line-height: 54px;
      margin-bottom: 0px;
    }
    .ant-form-explain{
      position: absolute;
      top: 36px;
      font-size: 12px;
    }
  }

  .ant-form-item-control {
    width: 294px;
  }
}