.StatisticsWaring {

  .detailsTabs {
    background-color: #fff;

    .tabs2 {
      width: calc(100vw - 160px) !important;
    }
  }

  .headerTab {
    background-color: #fff;
    height: 46px;
    font-size: 14px;
    line-height: 46px;
    // margin-bottom: 2px;
    border-bottom: 1px solid #e9e9e9;

    .tab {
      display: inline-block;
      margin: 0 0px;
      cursor: pointer;
      padding: 0 16px;

    }

    .active {
      color: #05A9F4;
      border-bottom: 2px solid;
      line-height: 42px;
    }

    .tabDiv {
      display: inline-block;
      margin: 0 15px;
      cursor: pointer;
      // padding: 0 16px;
    }

    .tabListDiv {
      padding: 0 16px;
    }

    .tabListDivActive {
      color: #fff;
      background-color: #05A9F4;
      border-radius: 4px;
      // margin: 0 24px;
      // padding: 0 16px;
    }

    .activeTab {
      color: #fff;
      background-color: #05A9F4;
    }
  }

  .box-content {
    margin: 30px;

    .bottombackcolor {
      height: 419px;
      box-shadow: 0px 4px 11px 0px rgba(200, 200, 200, 0.5);
    }

    .gutter-row {

      .backcolor {
        height: 282px;
        background-color: #fff;
        box-shadow: 0px 4px 11px 0px rgba(200, 200, 200, 0.5);
      }

      .waring-title {
        height: 47px;
        line-height: 47px;
        padding-left: 30px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
      }

      .waring-con {

        .ant-row {
          padding: 0 30px;
          height: 47px;
          line-height: 47px;
        }

        .ant-row:nth-child(2n+1) {
          background: #EAF2FF;
        }

        .waring-con-nub {
          display: inline-block;

          span {
            width: 67px;
            height: 24px;
            background: rgba(229, 44, 0, 1);
            border-radius: 12px;
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            margin-top: 13px;
            color: rgba(255, 255, 255, 1);
            padding: 5px 10px;
          }
        }

        .waring-conTitle {
          display: inline-block;
          width: 60px;
          text-align: right;
        }
      }
    }

    .title-span {
      height: 54px;
      line-height: 54px;
      background-color: #fff;
      padding-left: 55px;

      .lefticon {
        padding-right: 20px;
      }

      .righticon {
        padding-left: 20px;
      }

      .colorcss {
        color: #BFBFBF;
      }

      .ant-radio-button-wrapper {
        position: relative;
        display: inline-block;
        height: 32px;
        margin: 0;
        padding: 0 15px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 30px;
        background: #fff;
        border: 1px solid #fff;
        /* border-top-width: 1.02px; */
        border-left: 0;
        cursor: pointer;
        transition: color 0.3s, background 0.3s, border-color 0.3s;
        margin-left: -1px;
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        z-index: 1;
        color: #05A9F4;
        background: #fff;
        border-color: #fff;
        box-shadow: 0px 0 0 0 #fff;
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
        color: #fff !important;
        opacity: 1;
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus {
        border-color: #fff;
      }

      .ant-radio-button-wrapper:not(:first-child)::before {
        position: absolute;
        top: 0;
        left: -1px;
        display: block;
        width: 0px;
        height: 100%;
        background-color: #fff;
        content: '';
      }
    }
  }

}

.WaringDataDetailModal {
  .topcon {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  ._pagination {
    // position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-radius: 4px;
    font-size: 12px;
  }

  .ant-pagination-item-active {
    background-color: #05A9F4;

    a {
      color: #fff;
    }
  }

  .ant-pagination-item-active:focus,
  .ant-pagination-item-active:hover {
    a {
      color: #fff;
    }
  }

  .ant-pagination-total-text {
    position: absolute;
    left: 30px;
  }

  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-options .ant-select-selection {
    border-radius: 4px;
  }
}